//color
$color-purple-1: #b61984;
$color-white-1: white;
$color-dark-1: black;

//font size
$fs-1: 13px;
$fs-2: 0.75rem;
$fs-3: 1.1rem;
$fs-4: 1.55rem;
$fs-5: 2.5rem;
$fs-6: 3.8rem;

//font weight
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;

//
